Week 1의 퀴즈

'hw1_data.csv' 파일을 이용하여 아래 질문에 답하시오.

In [2]:
a = read.csv("./Materials/hw1_data.csv")
head(a)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

### Q1. 데이터셋의 'Column Name'은 무엇인가?

In [3]:
attributes(a)

$names
[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

$class
[1] "data.frame"

$row.names
  [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 [19]  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
 [37]  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
 [55]  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
 [73]  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
 [91]  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
[109] 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
[127] 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
[145] 145 146 147 148 149 150 151 152 153

In [4]:
names(a)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

### Q2. 데이터의 첫번째 2행을 불러오시오

In [5]:
head(a, 2)

  Ozone Solar.R Wind Temp Month Day
1 41    190     7.4  67   5     1
2 36    118     8.0  72   5     2

### Q3. 데이터셋의 관측치의 개수는? (행의 수)

In [6]:
dim(a)
# 153개

[1] 153   6

### Q4. 데이터의 마지막 2행을 불러오시오

In [7]:
tail(a, 2)

    Ozone Solar.R Wind Temp Month Day
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

### Q5. 47번째 행의 Ozone 수치는?

In [8]:
a[["Ozone"]][47]

[1] 21

### Q6. Ozone 열에서 Missing Value의 개수는?

In [9]:
table(is.na(a[["Ozone"]]))
# 37개

FALSE  TRUE
  116    37

### Q7. Ozone 열의 평균 값은? Missing Value는 제외하시오

In [10]:
na = is.na(a[["Ozone"]])

mean(a[["Ozone"]][!na])

[1] 42.12931

### Q8. Ozone 값이 31 초과, Temp 값이 90 초과인 행들을 추출하여, Solar.R 의 평균 값을 구하시오

In [11]:
crit1 = (a[["Ozone"]] > 31)
crit2 = (a[["Temp"]] > 90)

crit = crit1 & crit2
b = a[["Solar.R"]][crit]

mean(b[!is.na(b)])

[1] 212.8

### Q9. 6월달의 평균 Temp는?

In [12]:
mean(a[["Temp"]][a[["Month"]] == 6])

[1] 79.1

### Q10. 5월달의 최대 Ozone 값은?

In [13]:
Ozone_5 = (a[["Ozone"]][a[["Month"]] == 5])
max(Ozone_5[!is.na(Ozone_5)])

[1] 115