## Lists

리스트는 서로 다른 종류의 데이터도 포함할 수 있지만, 일반적으로는 같은 타입을 쓴다.

In [1]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [2]:
print(squares[0])
print(squares[-1])
print(squares[-3:])   # slicing returns a new list

1
25
[9, 16, 25]

슬라이싱은 항상 새로운 shallow copy를 만들어낸다.

In [11]:
squares[:]

[1, 4, 9, 16, 25]

In [3]:
# concatenation
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

문자열과 달리 리스트는 내용을 변경할 수 있다.

In [12]:
cubes = [1, 8, 27, 65, 125]
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [13]:
cubes.append(216)
cubes

[1, 8, 27, 64, 125, 216]

In [14]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [15]:
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [16]:
letters = []
letters

[]

In [17]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

print(fruits.count('apple'))
print(fruits.count('tangerine'))
print(fruits.index('banana'))
print(fruits.index('banana', 4))

fruits.reverse()
print(fruits)
fruits.append('grape')
print(fruits)
fruits.sort()
print(fruits)
fruits.pop()

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

'pear'

###### Using Lists as Stacks

마지막으로 더해진 원소가 가장 처음으로 나오게 되는 스택 (LIFO)

리스트는 스택으로써 아주 잘 작동한다.

In [18]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [19]:
stack.pop()

7

In [20]:
stack

[3, 4, 5, 6]

###### Using Lists as Queues

처음으로 더해진 원소가 가장 처음으로 나오게 되는 큐 (FIFO)

리스트의 append와 pop은 리스트의 끝에서는 빠르지만, 처음에서는 느리기 때문에 비효율적이다.

이때는`collections.deque` 를 사용한다.

In [21]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])

queue.append("Terry")
queue.append("Graham")
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [22]:
queue.popleft()

'Eric'

In [23]:
queue.popleft()
queue

deque(['Michael', 'Terry', 'Graham'])

###### List Comprehensions

In [25]:
squares = []
for x in range(10) :
    squares.append(x**2)    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
list(map(lambda x:x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
# or equivalently
[x **2 for x in range(10)]
    # more concise and readable

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
# combines the elements of two lists if they are not equal
[(x,y) for x in [1, 2, 3] for y in [3, 1, 4] if x!=y ]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [33]:
# which is equivalent to

combs = []
for  x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x!=y:
            combs.append((x,y))
            
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [34]:
# flatten using listcomp with two 'for'
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

###### Nested List Comprehension

In [39]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [46]:
# transpose rows and colums
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [47]:
# which is equivalent to

transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [50]:
# * for unpacking argument list
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## Tuples and Sequences

튜플은 쉼표로 분리된 원소들의 집합이다.

In [53]:
t = 12345, 54321, 'hello!'

t[0]

12345

In [54]:
# nested tuple
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [55]:
# tuples are immutable
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [57]:
# but may contain mutable objects
v = ([1, 2, 3], [3, 2, 1])
v[1][0] = 4
v

([1, 2, 3], [4, 2, 1])

In [60]:
# empty tuple
empty = ()

# 1 item tuple
singleton = 'hello',

print(len(empty))
print(len(singleton))

0
1

## Sets

셋은 중복된 원손가 없는 정렬되지 않은 데이터 집합이다.

합집합, 교집합, 차집합과 같은 수학적 연산이 가능하다.

In [61]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'banana', 'pear', 'apple', 'orange'}

In [62]:
# fast membership testing
'orange' in basket

True

In [63]:
a = set('abracadabra')
b = set('alacazam')

print(a)
print(a-b)  # letters in a but not in b
print(a|b) # letters in a or b or both
print(a&b)# letters in both a and b
print(a^b) # letters in a or b but not both

{'a', 'c', 'b', 'r', 'd'}
{'r', 'd', 'b'}
{'z', 'a', 'l', 'c', 'b', 'm', 'r', 'd'}
{'a', 'c'}
{'m', 'z', 'r', 'l', 'd', 'b'}

In [64]:
# Set comprehension
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionaries

다른 자료형과 달리 숫자가 아닌 'key'에 의해 인덱싱이 된다. 

'key'는 어떠한 변형 불가능한 타입이라면 사용 가능하다 (strings / numbers)

In [66]:
tel = {'jack':4098, 'sape':4139}
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [67]:
tel['jack']

4098

In [68]:
del tel['sape']

In [69]:
# list all the keys
list(tel)

['jack', 'guido']

In [70]:
sorted(tel)

['guido', 'jack']

In [71]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

## Looping Techniques

In [73]:
knights = {'gallahad' : 'the pure', 'robin' : 'the brave'}
knights2 = dict(gallahad="the pure", robin="the brave")

knights2

{'gallahad': 'the pure', 'robin': 'the brave'}

In [74]:
# items() 메서드를 통해 키-밸류를 한번에 출력할 수 있다
for k, v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [75]:
# sequence를 반복할 때, 인덱스와 값은 enumerate() 함수를 통해 출력할 수 있다
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [76]:
# 2개 이상의 시퀀스를 한 번에 반복할 때, zip() 함수를 사용한다
questions = ['name', 'quest', 'favorit color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}? It is {1}.'.format(q, a))

What is your name? It is lancelot.
What is your quest? It is the holy grail.
What is your favorit color? It is blue.

In [77]:
# 거꾸로 반복하려면 reversed()
for i in reversed(range(1, 10, 2)) :
    print(i)

9
7
5
3
1

In [78]:
# 기존 데이터를 그대로 두고 정렬하려면 sorted를 쓴다
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear