In [53]:
# 작업하고자 하는 파일(csv, txt)가 같은 작업 디렉토리에 없다면 작업할 수 없다.

# 현재 작업 디렉토리 출력하기
getwd()

# 현재 작업 디렉토리의 파일 출력하
dir()

[1] "/home/dabuntu/Repository/Jupyter/Fundamentals/R"

[1] "Materials"
[2] "Week 1-1 - R - Data Types , Subsetting.ipynb"
[3] "Week 1-2 - R - Reading Data.ipynb"
[4] "Week 1-3 - Quiz.ipynb"

# Overview and History of R

R은 S에서 파생된 프로그래밍 언어이다.

S는 1976년 개발된 통계 분석 언어이다. 그 뒤, C언어로 다시 쓰였다.

R은 뉴질랜드의 'Ross Ihaka', 'Robert Gentleman'에 의해 1991년 탄생했고, 93년에 대중에게 공개되었다. 

# Features of R
- 기능이 모듈 단위로 나뉘어져 있다
- 그래픽 능력이 정교하다
- 인터랙티브하게 사용할 수 있다. 새로운 도구 개발에도 좋다
- 사용자 커뮤니티기 활발하다
- 오픈소스이므로 무료이다!

# Drawbacks of R
- 40년된 오래된 기술에 기반하고 있다
- 다이내믹, 3D 그래픽 기반이 약하다
- 오브젝트가 메모리에 저장되어야 한다
- 기능들은 사용자 수요에 기반하고, 사용자의 기여에 달려있다

# Design of the R System
R 시스템은 다음 2가지 개념으로 구분할 수 있다.
1. "Base" R system from CRAN
2. Everything else

R 기능은 다음 패키지들로 구성된다.
1. "Base" R system에 있는 기본 패키지 : base
2. "Base" R system에 포함된 다른 패키지 : utils, stats, datasets, graphics, grDevices, grid, methods, tools, parallel, ...
3. "Recommended" 패키지 : boot, class, cluster, foreign, lattice, mgcv, nime, ...

이 외에도 4천개가 넘는 패키지가 CRAN에 있다.

# Entering Input

<- : assignment operator, 변수에 값을 할당하는 역할을 한다.

\# : 주석을 생성한다

In [54]:
# 'x'라는 변수에 '1'이라는 정수 값을 할당해보자 
x <- 5
print(x[1])

# 'msg'라는 변수에 "Hello"라는 문자열을 할당해보자
msg <- "Hello"
print(msg)

# 결과값에 나오는 [1]은 x가 벡터이고, 5가 첫 번째 원소라는 것을 의미한다.

[1] 5
[1] "Hello"

In [55]:
# 'x'에 연속된 정수를 할당해보자
x <- 1:20
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

# Vectorized Operations

벡터화된 작업은 코드를 효율적이고, 간결하고, 읽기 쉽게 만들어준다.

In [56]:
x <- 1:4; y<- 6:9
x + y
x > 2
x >= 2
y == 8

[1]  7  9 11 13

[1] FALSE FALSE  TRUE  TRUE

[1] FALSE  TRUE  TRUE  TRUE

[1] FALSE FALSE  TRUE FALSE

In [57]:
# Vectorized Matrix Operations
x <- matrix(1:4, 2, 2); y <- matrix(rep(10,4), 2, 2)

x; y

     [,1] [,2]
[1,] 1    3
[2,] 2    4

     [,1] [,2]
[1,] 10   10
[2,] 10   10

In [58]:
# 원소끼리 단순 곱
x*y

# 원소끼리 단순 나눔
x / y


# 행렬곱
x %*% y

     [,1] [,2]
[1,] 10   30
[2,] 20   40

     [,1] [,2]
[1,] 0.1  0.3
[2,] 0.2  0.4

     [,1] [,2]
[1,] 40   40
[2,] 60   60

# Data Types

R의 데이터 타입(오브젝트)는 다음과 같이 구성되어 있다.

- 가장 기본적인 클래스 : Numeric, Logical, Character, Integer, Complex
- Vector, List
- Factor
- Matrices
- Missing Values
- Data Frames
- Names

### 1. Attributes

R 오브젝트는 Attributes라는 성질을 갖는다.

- names, dimnames
- dimensions (matrices, arrays)
- class
- length
- other user-defined attributes

오브젝트가 어떤 Attribute을 가지는지 보려면 `attributes()` 함수를 사용하면 된다.

### 2. Subsetting

[ 는 해당 클래스의 오브젝트를 원본 그대로 반환한다. 
[[ 는 리스트나 데이터프레임의 원소를 반환하는데 사용한다. 
$ 는 리스트나 데이터프레임의 원소를 이름으로 부를 때 사용한다.



### cf. Partial Matching

In [59]:
# Partial Matching

x <- list(aardvark = 1:5)
x$a 
x[["a"]]
x[["a", exact = FALSE]]

[1] 1 2 3 4 5

NULL

[1] 1 2 3 4 5

### 2. 기본적인 5개 클래스

- Character : 'a', 'b', 'c'

- Numeric (Real Numbers) : 3.1415.. , 1/3, 2/5

- Complex : i, i+1

- Logical : True, False

- Integer : 1, 2, 3

R에서 숫자는 기본적으로 Numeric 타입으로 분류된다. 
만약 정수형태로 지정하고 싶다면, 숫자 뒤에 L을 붙이면 된다.

In [60]:
# 타입 지정 해주지 않았을 때
a = 3

typeof(a)

[1] "double"

In [61]:
# 타입 지정 해주었을 때
a = 3L

typeof(a)

[1] "integer"

###### - Inf

또한 `Inf`라는 특별한 숫자도 있다. 

만약 1/0을 하면 `Inf`를 얻게 되고, 1/`Inf`를 하면 0을 얻게 된다.

In [62]:
1/0

1/Inf

[1] Inf

[1] 0

### 3. Vector


#### 1) Vector Creation

가장 기본적인 오브젝트는 벡터이다.
- 벡터는 오직 **같은 클래스의 오브젝트만**을 가질 수 있다.
- 서로 다른 클래스를 할당하면 에러가 나지는 않지만, 강제 형변환(Coercion)이 일어난다.
c() 함수를 이용하여 벡터를 형성한다.

In [63]:
# 벡터 만들기
# C stands for concatenate, combine
x <- c(0.5, 0.6)    ## numeric
x <- c(TRUE, FALSE) ## logical
x <- c(T, F)        ## logical
x <- c("a", "b", "c")# character
x <- 9:29            # integer
x <- c(1+0i, 2+4i)   # complex

x

[1] 1+0i 2+4i

In [64]:
# 벡터 만들기 2
x <- vector("numeric", length = 10)
x

 [1] 0 0 0 0 0 0 0 0 0 0

In [65]:
# 서로 다른 클래스를 벡터에 넣으면 어떻게 될까?
x <- c(1,"a")
x    # Numeric이었던 '1'이 문자열 '1'로 바뀜

[1] "1" "a"

### cf. Explicit Coercion

앞서 자동 형변환이 일어나는 경우를 보았는데, 형변환을 직접 시켜주려면 다음 `as` 명령어를 사용한다.

In [66]:
# Explicit Coercion
x <- 0:6
class(x)

[1] "integer"

In [67]:
# 논리형으로 형변환
as.logical(x)
    # 프로그래밍 언어에서 0은 FALSE, 나머지 숫자는 TRUE를 의미한다.
# 문자열로 형변환
as.character(x)

[1] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

[1] "0" "1" "2" "3" "4" "5" "6"

하지만 형변환이 가능하지 않은 경우도 있다.

In [68]:
x <- c("a", "b", "c")
as.numeric(x)
    # Not Available

Warning message in eval(expr, envir, enclos):
“강제형변환에 의해 생성된 NA 입니다”

[1] NA NA NA

#### 2) Subsetting

In [69]:
# Subsetting

x <- c("a", "b", "c", "c", "d", "a")
x[1]
x[2]
x[1:4]

[1] "a"

[1] "b"

[1] "a" "b" "c" "c"

In [70]:
# Boolean Masking

x [ x > "a" ]

[1] "b" "c" "c" "d"

### 4. Lists

리스트는 벡터의 특별한 형태이고, 서로 다른 클래스의 원소를 포함할 수 있다.

R에서 자주 쓰이기 때문에 아주 중요하다.

#### 1) List Creation

In [71]:
x <- list(1, "a", TRUE, 1+4i)
print(x)

[[1]]
[1] 1

[[2]]
[1] "a"

[[3]]
[1] TRUE

[[4]]
[1] 1+4i

#### 2) List Subsetting

In [72]:
x <- list(foo = 1:4, bar = 0.6)

# []는 오브젝트 자체를 반환한다
print(x[1])

$foo
[1] 1 2 3 4

In [73]:
# [[]]는 원소만을 반환한다
print(x[[1]])

[1] 1 2 3 4

In [74]:
# $표시는 이름으로 부를 때
x$bar
x[["bar"]]
print(x["bar"])

[1] 0.6

[1] 0.6

$bar
[1] 0.6

In [75]:
x[ c(1, 2) ]

$foo
[1] 1 2 3 4

$bar
[1] 0.6

In [76]:
# Nested Element
x <- list(a = list(10, 12, 14), b = c(3.14, 2.81))
print(x)

$a
$a[[1]]
[1] 10

$a[[2]]
[1] 12

$a[[3]]
[1] 14


$b
[1] 3.14 2.81

In [77]:
x[[ c(1, 3) ]]

# same as
x[[1]][[3]]

[1] 14

[1] 14

### 5. Matrices

행렬(매트릭스)는 `dimension`이 있는 벡터이다.

즉, 차원이 확장된 벡터이다.

##### 1) Matrix Creation

In [78]:
# 비어있는 행렬 생성하기
m <- matrix(nrow = 2, ncol = 3)
m

     [,1] [,2] [,3]
[1,] NA   NA   NA
[2,] NA   NA   NA

In [79]:
# 연속된 숫자를 할당하기 
# 좌측 상단에서 우측 하단 방향으로 데이터가 할당된다.
m <- matrix(1:6, nrow = 2, ncol = 3)
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [80]:
# 행렬 오브젝트에는 어떤 성질이 있는지 확인
attributes(m)

$dim
[1] 2 3

In [81]:
# '벡터'에 dim attribute를 더하여 '행렬'로 바꾸기
m <- 1:10
print(m)
dim(m) <- c(2, 5)
print(m)

 [1]  1  2  3  4  5  6  7  8  9 10
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

##### 2) Matrix Binding

행렬은 '열을 기준으로 묶는' `cbind()`나 '행을 기준으로 묶는' `rbind()`함수를 통해 수정되거나 생성될 수 있다.

In [82]:
# 둘 다 원소의 개수가 3개이기 때문에 묶을 수 있다.
# cbind로 열을 기준으로 묶었다.
x <- 1:3
y <- 10:12
cbind(x, y)

     x y
[1,] 1 10
[2,] 2 11
[3,] 3 12

In [83]:
# 이번엔 행을 기준으로 묶었다.
rbind(x, y)

  [,1] [,2] [,3]
x  1    2    3
y 10   11   12

#### 3) Matrix Subsetting

In [84]:
# 여기서 주목할 점은 argument 명칭이 생략되었다는 
x <- matrix(1:6, 2, 3)
x

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [85]:
x[1, 2]
x[2, 1]

[1] 3

[1] 2

In [86]:
# Indices can also be missing
x[1, ]
x[, 2]

[1] 1 3 5

[1] 3 4

In [87]:
# drop = FALSE 은 단일 리턴값을 매트릭스 형태로 내버려둔다.
x[1, 2]
x[1, 2, drop = FALSE ]

[1] 3

     [,1]
[1,] 3

In [88]:
# 여기서도 마찬가지, 단일 벡터 -> 매트릭스 형태로 두
x[1, ]
x[1, , drop = FALSE ]

[1] 1 3 5

     [,1] [,2] [,3]
[1,] 1    3    5

### 6. Factors

팩터는 범주형 데이터를 표현하는 데 쓰인다.

팩터는 '정수형 벡터'가 'Level'이라는 특성을 가진 것과 같다.

순서형 데이터일 수 있고, 순서가 없을 수도 있다. 


- 팩터는 모델링 함수인 `lm()`이나 `glm()`에 자주 쓰인다.
- 라벨이 있는 팩터를 쓰는 것이 그냥 정수형 표현을 쓰는 것보다 낫다. (더 의미가 명확하기 때문에)
    - 예를 들어, "Male"과 "Female"의 구분이 1, 2보다 훨씬 낫다.

In [89]:
# 다음과 같이 생성한다
# Level을 지정해주지 않으면 알파벳 순서로 생성이 된다.

x <- factor( c("yes", "yes", "no", "yes", "no"), 
            levels = c("yes", "no"))
print(x)
attributes(x)

[1] yes yes no  yes no
Levels: yes no

$levels
[1] "yes" "no"

$class
[1] "factor"

In [90]:
# 빈도표를 보여준다.
table(x)

x
yes  no
  3   2

In [91]:
# Factor에서 라벨링을 없앤다.
# yes는 2, no는 1에 해당된다.
print(unclass(x))

[1] 1 1 2 1 2
attr(,"levels")
[1] "yes" "no"

### 7. Missing Values

사라진 값들은 `NA` 혹은 `NaN`으로 표시된다.
- `is.na()`는 오브젝트가 `NA`인지 확인하기 위해 쓰인다.
- `is.nan()`은 `NaN`을 확인하기 위해 쓰인다.
- `NA` 값들도 클래스는 가지고 있다. 따라서 정수형 `NA`, 문자열 `NA` 등이 있다.
- `NaN` 값들은 `NA`이지만, `NA`가 `NaN`은 아니다.

##### NaN
NaN은 "Not a Number"의 약자로서 정의되지 않은 값을 의미한다.

0 / `NaN`은 또다른 `NaN`이다.

In [92]:
0 / NaN

[1] NaN

In [93]:
x <- c(1, 2, NA, 10, 3)
is.na(x)
is.nan(x)

[1] FALSE FALSE  TRUE FALSE FALSE

[1] FALSE FALSE FALSE FALSE FALSE

In [94]:
x <- c(1, 2, NaN, NA, 4)
is.na(x)
is.nan(x)

[1] FALSE FALSE  TRUE  TRUE FALSE

[1] FALSE FALSE  TRUE FALSE FALSE

#### 1) Removing NA values

In [95]:
x <- c(1, 2, NA, 4, NA, 5)
bad <- is.na(x)
x[!bad]

[1] 1 2 4 5

In [96]:
# 여러 집합에서 NA가 아닌 것들만 고르고 싶다면 (교집합)
# complete.cases 함수를 사용한다

x <- c(1, 2, NA, 4, NA, NA)
y <- c("a", "b", NA, "d", NA, "f")
good <- complete.cases(x, y)

good

x[good]
y[good]

[1]  TRUE  TRUE FALSE  TRUE FALSE FALSE

[1] 1 2 4

[1] "a" "b" "d"

In [97]:
# 데이터프레임에서도 마찬가지

good <- complete.cases(airquality)
good

  [1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE
 [13]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [25] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE
 [37] FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE  TRUE
 [49]  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [61] FALSE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE
 [73]  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE
 [85]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE
 [97] FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE FALSE  TRUE
[109]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE FALSE  TRUE
[121]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[133]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[145]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE

In [98]:
airquality[good, ][1:6, ]

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

### 8. Data Frames

데이터프레임은 표 형식의 데이터를 저장하는 데 쓰인다
- 행렬이 벡터의 특수한 형태였다면, 데이터프레임은 리스트의 특수한 형태이다
- 모든 열의 길이는 같지만, 각 열은 서로 다른 클래스의 원소를 가질 수 있다
- `read.table()` 혹은 `read.csv()` 를 통해 외부 자료를 불러오면 데이터프레임이 된
- Attributes
    - row.names
    - col.names

In [99]:
x <- data.frame(foo = 1:4, bar = c(T, T, F, F))
x

  foo bar
1 1    TRUE
2 2    TRUE
3 3   FALSE
4 4   FALSE

In [100]:
# nrow, ncol은 기본 함수
# 데이터프레임 뿐 아니라 행과 열로 구성된 자료에 사용 가능
nrow(x)
ncol(x)

[1] 4

[1] 2

### 9. Names

In [101]:
x <- 1:3
names(x)

NULL

In [102]:
# Vector
names(x) <- c("foo", "bar", "norf")
print(x)

 foo  bar norf
   1    2    3

In [103]:
# List
x <- list(a = 1, b = 2, c = 3)
print(x)

$a
[1] 1

$b
[1] 2

$c
[1] 3

In [104]:
# Matrices
m <- matrix(1:4, nrow = 2, ncol = 2)
dimnames(m) <- list(c("a", "b"), c("c", "d"))
m

row.names(m)

  c d
a 1 3
b 2 4

[1] "a" "b"