# Creating New Vars

새로운 변수를 만들고 싶을 때가 있다.

- 데이터를 변형하여 원하는 값들만을 남길 때
- raw data를 변형하여 새로운 값으로 바꿀 때.. 등


https://data.baltimorecity.gov/api/views/k5ry-ef3g/rows.csv?accessType=DOWNLOAD

In [1]:
if(!file.exists("./data")){dir.create("./data")}
fileURL <- "https://data.baltimorecity.gov/api/views/k5ry-ef3g/rows.csv?accessType=DOWNLOAD"
download.file(fileURL, destfile="./data/restaurants.csv", method="curl")
restData <- read.csv("./data/restaurants.csv")

head(restData, 3)

  name  zipCode neighborhood councilDistrict policeDistrict
1 410   21206   Frankford    2               NORTHEASTERN
2 1919  21231   Fells Point  1               SOUTHEASTERN
3 SAUTE 21224   Canton       1               SOUTHEASTERN
  Location.1
1 4509 BELAIR ROAD\nBaltimore, MD\n
2 1919 FLEET ST\nBaltimore, MD\n
3 2844 HUDSON ST\nBaltimore, MD\n

In [2]:
# Creating Sequences
# 간격이 2
s1 <- seq(1,10, by=2); s1

[1] 1 3 5 7 9

In [4]:
s2 <- seq(1,10, length=3); s2

[1]  1.0  5.5 10.0

In [6]:
# 길이가 x와 같은 index를 만들때 편하다
x <- c(1, 3, 8, 25, 100); seq(along = x)

[1] 1 2 3 4 5

In [7]:
# Subsetting Variables
restData$nearMe = restData$neighborhood %in% c("Roland Park", "Homeland")
table(restData$nearMe)

FALSE  TRUE
 1314    13

### 1. Creating Binary Variables

In [10]:
restData$zipWrong = ifelse(restData$zipCode <0, T, F)
table(restData$zipWrong, restData$zipCode <0)

        FALSE TRUE
  FALSE  1326    0
  TRUE      0    1

### 2. Creating Categorical Variables

In [15]:
a = seq(1,10)
quantile(a)

   0%   25%   50%   75%  100%
 1.00  3.25  5.50  7.75 10.00

In [18]:
# 팩터로 구분한
str(cut(a, breaks=quantile(a)))

 Factor w/ 4 levels "(1,3.25]","(3.25,5.5]",..: NA 1 1 2 2 3 3 4 4 4

In [11]:
# cut은 정해진 변수의 quantile에 따라 범위를 나누어 팩터를 부여함
restData$zipGroups = cut(restData$zipCode, breaks=quantile(restData$zipCode))
table(restData$zipGroups)

(-2.123e+04,2.12e+04]  (2.12e+04,2.122e+04] (2.122e+04,2.123e+04]
                  337                   375                   282
(2.123e+04,2.129e+04]
                  332

In [13]:
table(restData$zipGroups, restData$zipCode)

                        -21226 21201 21202 21205 21206 21207 21208 21209 21210
  (-2.123e+04,2.12e+04]      0   136   201     0     0     0     0     0     0
  (2.12e+04,2.122e+04]       0     0     0    27    30     4     1     8    23
  (2.122e+04,2.123e+04]      0     0     0     0     0     0     0     0     0
  (2.123e+04,2.129e+04]      0     0     0     0     0     0     0     0     0

                        21211 21212 21213 21214 21215 21216 21217 21218 21220
  (-2.123e+04,2.12e+04]     0     0     0     0     0     0     0     0     0
  (2.12e+04,2.122e+04]     41    28    31    17    54    10    32    69     0
  (2.122e+04,2.123e+04]     0     0     0     0     0     0     0     0     1
  (2.123e+04,2.129e+04]     0     0     0     0     0     0     0     0     0

                        21222 21223 21224 21225 21226 21227 21229 21230 21231
  (-2.123e+04,2.12e+04]     0     0     0     0     0     0     0     0     0
  (2.12e+04,2.122e+04]      0     0     0     0     0     0     0     0     0
  (2.122e+04,2.123e+04]     7    56   199    19     0     0     0     0     0
  (2.123e+04,2.129e+04]     0     0     0     0    18     4    13   156   127

                        21234 21237 21239 21251 21287
  (-2.123e+04,2.12e+04]     0     0     0     0     0
  (2.12e+04,2.122e+04]      0     0     0     0     0
  (2.122e+04,2.123e+04]     0     0     0     0     0
  (2.123e+04,2.129e+04]     7     1     3     2     1

### 3. Creating Factor Variables

In [19]:
# zipCode는 integer이지만 factor로 바꾼다
restData$zcf <- factor(restData$zipCode)
restData$zcf[1:10]

 [1] 21206 21231 21224 21211 21223 21218 21205 21211 21205 21231
32 Levels: -21226 21201 21202 21205 21206 21207 21208 21209 21210 ... 21287

In [23]:
class(restData$zipCode)
class(restData$zcf)

[1] "integer"

[1] "factor"

In [31]:
# Levels of factor variables
yesno <- sample(c("yes", "no"), size=10, replace=TRUE)
yesnofac = factor(yesno, levels=c("yes", "no"))
    # by default, 가장 사전 순서에서 먼 값을 첫 번째 factor level로 한다
yesno
yesnofac

 [1] "no"  "no"  "no"  "yes" "yes" "no"  "yes" "yes" "no"  "yes"

 [1] no  no  no  yes yes no  yes yes no  yes
Levels: yes no

In [32]:
# Reference 를 yes로 바꾼다
relevel(yesnofac, ref="yes")
yesno
yesnofac

 [1] no  no  no  yes yes no  yes yes no  yes
Levels: yes no

 [1] "no"  "no"  "no"  "yes" "yes" "no"  "yes" "yes" "no"  "yes"

 [1] no  no  no  yes yes no  yes yes no  yes
Levels: yes no

In [33]:
# 가장 낮은 값(yes)가 1이 됨
as.numeric(yesnofac)

 [1] 2 2 2 1 1 2 1 1 2 1

##### Common Transforms

- `abs(x)`
- `sqrt(x)`
- `ceiling(x)`
- `floor(x)`
- `round(x)`
- `round(x, digits=n)`
- `signif(x, digits=n)`
- `cos(x), sin(x)`
- `log(x)`
- `log2(x), log10(x)`
- `exp(x)`

# Reshaping

The goal is "Tidy Data"

http://www.slideshare.net/jeffereybreen/reshaping-data-in-r

In [38]:
library(reshape2)

In [37]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

### 1. Melting data frames

데이터프레임을 녹여서 여러 칼럼으로 나열된 측정치를 variable, value 두 개 컬럼으로 변환시킨다.

In [40]:
mtcars$carname <- rownames(mtcars)
carMelt <- melt(mtcars, id=c("carname", "gear", "cyl"), measure.vars=c("mpg", "hp"))
head(carMelt, n=3)

  carname       gear cyl variable value
1 Mazda RX4     4    6   mpg      21.0
2 Mazda RX4 Wag 4    6   mpg      21.0
3 Datsun 710    4    4   mpg      22.8

In [41]:
tail(carMelt, n=3)

   carname       gear cyl variable value
62 Ferrari Dino  5    6   hp       175
63 Maserati Bora 5    8   hp       335
64 Volvo 142E    4    4   hp       109

### 2. Casting data frames

In [44]:
cylData <- dcast(carMelt, cyl ~ variable)
cylData

Aggregation function missing: defaulting to length

  cyl mpg hp
1 4   11  11
2 6    7   7
3 8   14  14

In [46]:
cylData2 <- dcast(carMelt, cyl~ variable, mean)
cylData2

  cyl mpg      hp
1 4   26.66364  82.63636
2 6   19.74286 122.28571
3 8   15.10000 209.21429

### 3. Averaging Values

In [47]:
head(InsectSprays)

  count spray
1 10    A
2  7    A
3 20    A
4 14    A
5 14    A
6 12    A

In [49]:
# 앞에서 배운 tapply 사용
print(tapply(InsectSprays$count, InsectSprays$spray, sum))

  A   B   C   D   E   F
174 184  25  59  42 200

In [51]:
# split 방법
spIns = split(InsectSprays$count, InsectSprays$spray)
spIns

$A
 [1] 10  7 20 14 14 12 10 23 17 20 14 13

$B
 [1] 11 17 21 11 16 14 17 17 19 21  7 13

$C
 [1] 0 1 7 2 3 1 2 1 3 0 1 4

$D
 [1]  3  5 12  6  4  3  5  5  5  5  2  4

$E
 [1] 3 5 3 5 3 6 1 1 3 2 6 4

$F
 [1] 11  9 15 22 15 16 13 10 26 26 24 13

In [54]:
# split + lapply
lapply(spIns, sum)

$A
[1] 174

$B
[1] 184

$C
[1] 25

$D
[1] 59

$E
[1] 42

$F
[1] 200

In [56]:
unlist(sprCount)

  A   B   C   D   E   F
174 184  25  59  42 200

In [57]:
sapply(spIns, sum)

  A   B   C   D   E   F
174 184  25  59  42 200