# Dplyr Package

- Optimized and distilled version of `plyr`
- very fast (coded with C++)
- 항상 새로운 데이터프레임을 반환한다

- `select` : return a subset of the columns of a data frame
- `filter` : extract a subset of rows from a data frame based on logical cond
- `rename` : rename
- `mutate` : add new var/colum or transform existing vars
- `summarize` : generate summary statistics of different vars, possibly with strata

In [4]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [6]:
chicago <- readRDS("chicago.rds")
dim(chicago)

[1] 6940    8

In [8]:
str(chicago)

'data.frame':	6940 obs. of  8 variables:
 $ city      : chr  "chic" "chic" "chic" "chic" ...
 $ tmpd      : num  31.5 33 33 29 32 40 34.5 29 26.5 32.5 ...
 $ dptp      : num  31.5 29.9 27.4 28.6 28.9 ...
 $ date      : Date, format: "1987-01-01" "1987-01-02" ...
 $ pm25tmean2: num  NA NA NA NA NA NA NA NA NA NA ...
 $ pm10tmean2: num  34 NA 34.2 47 NA ...
 $ o3tmean2  : num  4.25 3.3 3.33 4.38 4.75 ...
 $ no2tmean2 : num  20 23.2 23.8 30.4 30.3 ...

In [9]:
names(chicago)

[1] "city"       "tmpd"       "dptp"       "date"       "pm25tmean2"
[6] "pm10tmean2" "o3tmean2"   "no2tmean2"

### 1. Select

In [10]:
# city~dptp 칼럼을 전부 보여줌
head(select(chicago, city:dptp))

  city tmpd dptp
1 chic 31.5 31.500
2 chic 33.0 29.875
3 chic 33.0 27.375
4 chic 29.0 28.625
5 chic 32.0 28.875
6 chic 40.0 35.125

In [11]:
# 특정 컬럼 제외하고
head(select(chicago, -(city:dptp)))

  date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 1987-01-01 NA         34.00000   4.250000 19.98810
2 1987-01-02 NA               NA   3.304348 23.19099
3 1987-01-03 NA         34.16667   3.333333 23.81548
4 1987-01-04 NA         47.00000   4.375000 30.43452
5 1987-01-05 NA               NA   4.750000 30.33333
6 1987-01-06 NA         48.00000   5.833333 25.77233

In [13]:
# R에서도 할 수는 있다, 다만 번거로울 뿐
i <- match("city", names(chicago))
j <- match("dptp", names(chicago))

head(chicago[, -(i:j)])

  date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 1987-01-01 NA         34.00000   4.250000 19.98810
2 1987-01-02 NA               NA   3.304348 23.19099
3 1987-01-03 NA         34.16667   3.333333 23.81548
4 1987-01-04 NA         47.00000   4.375000 30.43452
5 1987-01-05 NA               NA   4.750000 30.33333
6 1987-01-06 NA         48.00000   5.833333 25.77233

### 2. Filter

In [14]:
chic.f <- filter(chicago, pm25tmean2 >30)
head(chic.f)

  city tmpd dptp date       pm25tmean2 pm10tmean2 o3tmean2  no2tmean2
1 chic 23   21.9 1998-01-17 38.10      32.46154    3.180556 25.30000
2 chic 28   25.8 1998-01-23 33.95      38.69231    1.750000 29.37630
3 chic 55   51.3 1998-04-30 39.40      34.00000   10.786232 25.31310
4 chic 59   53.7 1998-05-01 35.40      28.50000   14.295125 31.42905
5 chic 57   52.0 1998-05-02 33.30      35.00000   20.662879 26.79861
6 chic 57   56.0 1998-05-07 32.10      34.50000   24.270422 33.99167

In [19]:
# Same as 
head(chicago[ !is.na(chicago["pm25tmean2"]) & chicago["pm25tmean2"]>30, ])

     city tmpd dptp date       pm25tmean2 pm10tmean2 o3tmean2  no2tmean2
4035 chic 23   21.9 1998-01-17 38.10      32.46154    3.180556 25.30000
4041 chic 28   25.8 1998-01-23 33.95      38.69231    1.750000 29.37630
4138 chic 55   51.3 1998-04-30 39.40      34.00000   10.786232 25.31310
4139 chic 59   53.7 1998-05-01 35.40      28.50000   14.295125 31.42905
4140 chic 57   52.0 1998-05-02 33.30      35.00000   20.662879 26.79861
4145 chic 57   56.0 1998-05-07 32.10      34.50000   24.270422 33.99167

In [16]:
chic.f <- filter(chicago, pm25tmean2 >30 & tmpd > 80)
head(chic.f)

  city tmpd dptp date       pm25tmean2 pm10tmean2 o3tmean2 no2tmean2
1 chic 81   71.2 1998-08-23 39.6000    59.0       45.86364 14.32639
2 chic 81   70.4 1998-09-06 31.5000    50.5       50.66250 20.31250
3 chic 82   72.2 2001-07-20 32.3000    58.5       33.00380 33.67500
4 chic 84   72.9 2001-08-01 43.7000    81.5       45.17736 27.44239
5 chic 85   72.6 2001-08-08 38.8375    70.0       37.98047 27.62743
6 chic 84   72.6 2001-08-09 38.2000    66.0       36.73245 26.46742