In [2]:
from pandas import Series, DataFrame
import numpy

In [3]:

d = {'one': Series([1,2,3], index=['a', 'b', 'c']),
    'two' : Series([1,2,3,4], index=['a', 'b', 'c', 'd'])}

e = {'one' : Series(numpy.array([1,2,3], float), index=['a','b','c']),
    'two' : Series(numpy.array([1,2,3,4], float), index=['a', 'b', 'c', 'd'])}

df = DataFrame(d)
de = DataFrame(e)

print(df)
print(de)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [12]:
# 모든 Column에 아래 명령어 실행 (Vector처럼)

df.apply(numpy.mean)

one    2.0
two    2.5
dtype: float64

In [4]:
# Column을 받아서 1보다 큰 것을 찾아라

df['one'].map(lambda x:x>=1)
# df['one']>=1

a     True
b     True
c     True
d    False
Name: one, dtype: bool

In [16]:
# 전체 DataFrame에서 lambda 함수를 적용

df.applymap(lambda x: x>=1)
# df>=1

     one   two
a   True  True
b   True  True
c   True  True
d  False  True

### Example : Average Medal Count

create a new Series called avg_medal_count that indicates the average number of gold, silver, and bronze medals earned amongs countries who earned at least one medal of any kind at the 2014 Sochi olympics.

In [53]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

olympic_medal_counts = {'country_name':countries,
                        'gold': Series(gold),
                        'silver': Series(silver),
                        'bronze': Series(bronze)}    
df = DataFrame(olympic_medal_counts)

df = df[['country_name', 'gold', 'silver', 'bronze']]

# 1. Choose 3 columns (gold, silver, bronze)
# 2. Among those that are greater or equal to 1
# 3. Then, apply numpy.mean function
df[['gold', 'silver','bronze']][df[['gold', 'silver', 'bronze']] >=1].apply(numpy.mean)

gold      4.714286
silver    4.409091
bronze    4.125000
dtype: float64

### Example 2 : Medal Points

Imagine a point system in which each country is awarded 4 points for each gold medal, 2 points for each silver medal, and one point for each bronze medal.

Create a new dataframe.

In [61]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

score = numpy.array([4,2,1])

olympic_medal_counts = {'country_name':countries,
                        'gold': Series(gold),
                        'silver': Series(silver),
                        'bronze': Series(bronze)}    

df = DataFrame(olympic_medal_counts)

medal_counts = df[['gold', 'silver', 'bronze']]

# 여기서 Points는 Matrix의 곱으로 봐도 무방하다.
points = numpy.dot(medal_counts, [4,2,1])

olympic_points_df = DataFrame({'country_name' : countries, 'points' : points})
olympic_points_df

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1

<br><br>
# Vectorized String Operations
We'll use some of the Pandas string operations, and then use them to partially clean up a very messy dataset of recipes collected from the internet.

We saw how NumPy and Pandas generalize arithmetic operations so that we can easily and quickly perform the same operation on many array elements.

In [15]:
# For example,
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [16]:
# However, for arrays of strings,
# NumPy does not provide such simple access
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [18]:
# What if there's missing val? -> ERROR!
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
try :
    [s.capitalize() for s in data]
except :
    print("error!")

error!

So Pandas include features to address both this need for vectorized string operations via the 'str' attribute of Series and Index objects.

In [19]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [20]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

##### - Various types of functions. Some return stings, some integer, boolean ,...

In [21]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones', 'Michael Palin'])
print(monte.str.lower())
print(monte.str.len())
print(monte.str.startswith("T"))
print(monte.str.split())

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object
0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64
0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool
0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

그 외 메서드,


len() lower() translate() islower()

ljust() upper() startswith() isupper()

rjust() find() endswith() isnumeric()

center() rfind() isalnum() isdecimal()

zfill() index() isalpha() split()

strip() rindex() isdigit() rsplit()

rstrip() capitalize() isspace() partition()

lstrip() swapcase() istitle() rpartition()

##### - Regex in str
There are several methods that accept regex to examine the content of each string element, 
<br>and follow some of the API conventions of Python's built-in **re** module.

In [25]:
# Extract the first name
monte.str.extract('([A-Za-z]+)')

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [27]:
# names that start and end with a consonant
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

##### - Miscellaneous Methods


get() Index each element

slice() Slice each element

slice_replace() Replace slice in each element with passed value

cat() Concatenate strings

repeat() Repeat values

normalize() Return Unicode form of string

pad() Add whitespace to left, right, or both sides of strings

wrap() Split long strings into lines with length less than a given width

join() Join strings in each element of the Series with passed separator

get_dummies() Extract dummy variables as a DataFrame

In [29]:
print(monte.str[0:3]) # same as monte.str.slice(0,3)

# extract last name of each entry
monte.str.split().str.get(-1)

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [30]:
# Get dummies
full_monte = pd.DataFrame( {'name' : monte, 'info' : ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
print(full_monte)
full_monte['info'].str.get_dummies('i')

    info            name
0  B|C|D  Graham Chapman
1    B|D     John Cleese
2    A|C   Terry Gilliam
3    B|D       Eric Idle
4    B|C     Terry Jones
5  B|C|D   Michael Palin

   A|C  B|C  B|C|D  B|D
0    0    0      1    0
1    0    0      0    1
2    1    0      0    0
3    0    0      0    1
4    0    1      0    0
5    0    0      1    0